<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>231540265770-7h0ojdfbrg4i8batbl8h2f9lufhduu21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231540265770-7h0ojdfbrg4i8batbl8h2f9lufhduu21</string>
	<key>API_KEY</key>
	<string>AIzaSyCtii2Y-8vC4pGSjBFHugxK4aiQco2Ac2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>231540265770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willcohen.WestchesterEats</string>
	<key>PROJECT_ID</key>
	<string>weats-68049</string>
	<key>STORAGE_BUCKET</key>
	<string>weats-68049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231540265770:ios:104aa5bcb76fcfbe</string>
	<key>DATABASE_URL</key>
	<string>https://weats-68049.firebaseio.com</string>
</dict>
</plist>